* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 16px;
    line-height: 1;
}

header {
    font-size: 40px;
    font-weight: bold;
    background-color: rgb(58, 58, 58);
    color: white;
    text-align: center;
    padding: 15px;
}

.container {
    width: 100%;
    padding-top: 20px;
    float: right;
    clear: both;
}

section {
    overflow: auto;
    width: 100%;
    clear: both;
}

#searchBar {
    height: 100%;
    position: fixed;
    top: 90px;
    left: 0;
    background-color: rgb(247, 245, 245);
}

h1 {
    font-size: 20px;
}